In [21]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
os.chdir("/Users/adamouazzani/Documents/GitHub/ada-2024-project-theadacuates")

In [22]:
df = pd.read_csv('./data/output/base_data/all_articles_processed.csv')

/var/folders/fn/4xlpvr555jx0gt6033j7x9lr0000gn/T/ipykernel_60157/1453121805.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/output/base_data/all_articles_processed.csv')

In [23]:
df.head()

,hashed_ip,timestamp,duration,path,rating,path_list,source_link,target_link,finished,type_unfinished,n_click,n_back,date,click_rate,normalized_duration,freq_back,path_list_id,resolved_path_list_id,resolved_path_list_name
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN,"['14th century', '15th century', '16th century...",14th century,African slave trade,True,NaN,9,0,2011-02-15 04:26:49,0.054217,18.444444,0.0,"[10, 12, 15, 3134, 377, 105, 128, 379, 143]","[10, 12, 15, 3134, 377, 105, 128, 379, 143]","['14th century', '15th century', '16th century..."
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0,"['14th century', 'Europe', 'Africa', 'Atlantic...",14th century,African slave trade,True,NaN,5,0,2012-08-12 08:36:52,0.056818,17.600000,0.0,"[10, 1433, 128, 379, 143]","[10, 1433, 128, 379, 143]","['14th century', 'Europe', 'Africa', 'Atlantic..."
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN,"['14th century', 'Niger', 'Nigeria', 'British ...",14th century,African slave trade,True,NaN,8,0,2012-10-03 23:10:40,0.057971,17.250000,0.0,"[10, 2982, 2984, 694, 3755, 128, 379, 143]","[10, 2982, 2984, 694, 3755, 128, 379, 143]","['14th century', 'Niger', 'Nigeria', 'British ..."
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN,"['14th century', 'Renaissance', 'Ancient Greec...",14th century,Greece,True,NaN,4,0,2010-02-08 08:25:25,0.108108,9.250000,0.0,"[10, 3464, 241, 1793]","[10, 3464, 241, 1793]","['14th century', 'Renaissance', 'Ancient Greec..."
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0,"['14th century', 'Italy', 'Roman Catholic Chur...",14th century,John F. Kennedy,True,NaN,7,0,2013-04-23 17:27:08,0.040000,25.000000,0.0,"[10, 2183, 3529, 1836, 3542, 3342, 2266]","[10, 2183, 3529, 1836, 3542, 3342, 2266]","['14th century', 'Italy', 'Roman Catholic Chur..."

,article_name,Áedán mac Gabráin,Åland,Édouard Manet,Éire,Óengus I of the Picts,€2 commemorative coins,10th century,11th century,12th century,...,Ziad Jarrah,Zimbabwe,Zinc,Zinc chloride,Zion National Park,Zionism,Zirconium,Zoroaster,Zuid-Gelders,Zulu
0,Áedán mac Gabráin,0.0,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,...,4.0,3.0,3.0,4.0,4.0,3.0,4.0,4.0,4.0,2.0
1,Åland,NaN,0.0,NaN,NaN,NaN,NaN,2.0,2.0,2.0,...,4.0,2.0,3.0,4.0,4.0,3.0,4.0,3.0,3.0,3.0
2,Édouard Manet,NaN,NaN,0.0,NaN,NaN,NaN,3.0,3.0,2.0,...,4.0,3.0,2.0,3.0,4.0,3.0,4.0,3.0,3.0,3.0
3,Éire,NaN,NaN,NaN,0.0,NaN,NaN,3.0,3.0,3.0,...,4.0,2.0,2.0,3.0,4.0,3.0,4.0,4.0,3.0,3.0
4,Óengus I of the Picts,NaN,NaN,NaN,NaN,0.0,NaN,2.0,2.0,3.0,...,4.0,2.0,3.0,4.0,4.0,3.0,4.0,3.0,3.0,3.0